<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link rel="stylesheet" href="/css/style.css"> -->
<link rel="stylesheet" href="/normalize.css">
<link rel="stylesheet" href="/skeleton.css">
  <title>POKEDEX</title>
</head>
<body>
<!-- NEEDS LOCAL STORAGE -->
  <div class="container">

  <h1>Welcome to your Pokedex!</h1>
  <nav>
   <button> <a href="/pokedex/new">Create a Pokemon</a> </button><br> <br>
</nav>
  <table>
    <tr>
      <th class="fl" style="text-align: left;" style="background-color: lightgrey;"   >Name</th>
      <th class="fl" style="text-align: left;"  >ID</th>
      <th class="fl" style="text-align: left;"  >img</th> 
      <th class="fl" style="text-align: left;"  >Type</th>
   
      <th class="fl" style="text-align: left;"  >Stats</th>
      <th class="fl" style="text-align: left;"  > Action </th>
    </tr>
    

    <% for (let i = 0; i < pokedex.length; i++) { %> 
      <tr> 
      <!-- <a href="/budget/<%= i %>"> Examine </a> -->
          <td> <a href="/pokedex/<%= i %>"> 
                     <%= pokedex[i].name %> </a>  </td>
             
          <td>       <%= pokedex[i].id %>  </td> 
              <td>    <!-- <%= pokedex[i].img %>  </td>   -->
          <td>        <%= pokedex[i].type %>  </td> 
          <td>        <%= pokedex[i].stats.hp %>  </td> 
          <!--  -->
        
          <td>       <form action="/pokedex/<%= i %> ?_method=DELETE" method="POST"> <input type="submit" style="float: right;" value="DELETE" /> </form> </td> 
  
      
           
        </tr>
    <% } %>
  </table>  
  
</div>
</body>
</html>